In [1]:
import numpy as np 
import pandas as pd

In [7]:
devices = pd.read_csv("/Users/dylanlam/Documents/GitHub/data_visualization_practive/data files/android_devices.csv")

In [6]:
user_device = pd.read_csv("/Users/dylanlam/Documents/GitHub/data_visualization_practive/data files/user_device.csv")

In [5]:
user_usage = pd.read_csv("/Users/dylanlam/Documents/GitHub/data_visualization_practive/data files/user_usage.csv")

### **Sanity Checks**

...

In [11]:
devices.rename(columns = {'Retail Branding': 'mmnufacturer'}, inplace = True)

In [12]:
devices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14546 entries, 0 to 14545
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   manufacturer    14542 non-null  object
 1   Marketing Name  13375 non-null  object
 2   Device          14546 non-null  object
 3   Model           14546 non-null  object
dtypes: object(4)
memory usage: 454.7+ KB

#### **Goal**
* get the average usage figure for different types of devices
* create a new data frame called result that has the user's device code from user_usage as a column
* add a column to the result data frame of the device's manufacturer from the devices data frame

#### **Inner Merge / Inner Join**
The Pandas merge function is an inner merge or inner join. It keeps only those rows when the merge parameter exists in both the data frames.

In [13]:
result = pd.merge(user_usage,
                  user_device[['use_id', 'platform', 'device']],
                  on = 'use_id')

In [14]:
result.shape

(159, 6)

In [15]:
result.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F